@media (max-width: 380px) {
  #navbar {
    display: none;
  }
  #nav_button {
    display: none;
  }
  #menu {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
  #nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #content_post1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #content_post1 #post_text {
    width: 300px;
    margin: 0 auto;
  }
  #content_post1 #content_images {
    width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  #content_post1 #two {
    font-size: 25px;
    letter-spacing: -1px;
    width: 300px;
    text-align: center;
  }
  #post_2 {
    width: 300px;
    margin: 0 auto;
    padding-top: 50px;
  }
  #images_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #images_list #brend {
    width: 180px;
    height: 45px;
    margin-bottom: 10px;
  }
  #caps_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 320px;
    margin: 0 auto;
  }
  #caps_content #caps_post {
    padding-top: 50px;
    padding-right: 1px;
  }
  #caps_content #caps_post #example {
    font-size: 24px;
  }
  #caps_content #caps_post #example_text {
    font-size: 18px;
  }
  #caps_content #caps_post #learn {
    font-size: 20px;
    padding-bottom: 40px;
  }
  #aaa {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #aaa #heading_post {
    width: 320px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  #aaa #inputs {
    width: 320px;
    margin: 0 auto;
  }
  #aaa #inputs #email {
    width: 300px;
    margin-bottom: 15px;
  }
  #caps_images {
    width: 320px;
    height: 240px;
  }
  #heading_post2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
    width: 320px;
    margin: 0 auto;
  }
  #head_logo {
    display: none;
  }
  #head {
    font-size: 20px;
    padding-bottom: 10px;
  }
  #with {
    width: 320px;
    padding-bottom: 20px;
  }
  #when {
    padding-bottom: 20px;
    width: 320px;
    margin: 0 auto;
    padding-top: 20px;
  }
  #mobil_img {
    width: 320px;
    margin: 0 auto;
  }
  #mobil_img #iphone {
    width: 240px;
  }
  #mobil_img #samsung {
    width: 190px;
  }
  #short_post {
    width: 320px;
    margin: 0 auto;
  }
  #short_post #short {
    font-size: 24px;
    margin-top: 25px;
  }
  #account_list {
    padding: 50px;
  }
  #user_post1 {
    display: none;
  }
  #user_post2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 1px;
  }
  #user_img {
    display: block;
    margin: 0 auto;
  }
  #heading_contant3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
    padding-top: 10px;
  }
  #heading_contant3 #description {
    width: 320px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  #footer_post1 {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  #sections {
    display: none;
  }
  #catigorys {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #catigorys #catigory_list {
    margin-bottom: 15px;
  }
  #footer_post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #navigatsiya1 {
    display: none;
  }
  #navbar2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter';
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 15px;
}

.nav_list {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_list .nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_list .nav_menu .logo {
  margin-right: 30px;
}

.nav_list .nav_menu .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_list .nav_menu .navbar .nav_item {
  list-style: none;
  margin-right: 30px;
}

.nav_list .nav_menu .navbar .nav_link {
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  color: #1C1C1C;
}

.nav_list .nav_menu .navbar .nav_link:hover {
  color: #24AFB5;
}

.nav_list .menu {
  display: none;
}

.nav_list .nav_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_list .nav_button .link_button {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-align: right;
  color: #24AFB5;
  margin-right: 30px;
}

.button1 {
  background: #24AFB5;
  border-radius: 6px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  padding: 11px 16px;
  padding-right: 40px;
}

.button1:hover {
  color: #24AFB5;
  background-color: #FFFFFF;
}

.icon {
  position: relative;
  right: 30px;
}

.header_content {
  margin-top: 90px;
}

.header_content .content_post1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_content .content_images {
  width: 540px;
  height: 400px;
  margin-right: 70px;
  margin-left: 50px;
  border-radius: 20px;
}

.header_content .post_text {
  width: 540px;
}

.header_content .post_text .two {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #1C1C1C;
  margin-bottom: 20px;
}

.header_content .post_text .two_text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #585757;
  margin-bottom: 30px;
}

.header_content .post_text .button2 {
  background: #24AFB5;
  border-radius: 6px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  padding: 11px 16px;
}

.header_content .post_text .button2:hover {
  color: #24AFB5;
  background-color: #FFFFFF;
}

.post_2 {
  margin-top: 60px;
}

.post_2 .part {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: #969696;
  margin-bottom: 30px;
}

.post_2 .images_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 110px;
}

.post_2 .images_list .bred {
  height: 35px;
}

hr {
  color: #dbdbdb;
}

.caps_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.caps_content .caps_post {
  padding-right: 80px;
  padding-top: 140px;
}

.caps_content .caps_post .caps_name {
  text-align: center;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1C1C1C;
  margin-bottom: 20px;
}

.caps_content .caps_post .example {
  text-align: center;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -1.2px;
  color: #1C1C1C;
  margin-bottom: 20px;
}

.caps_content .caps_post .example_text {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.3px;
  color: #585757;
}

.caps_content .caps_post .button3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

.caps_content .caps_post .button3 .learn {
  text-decoration: none;
  letter-spacing: -0.2px;
  color: #24AFB5;
  font-weight: 600;
  font-size: 20px;
}

.caps_content .caps_images {
  width: 800px;
  height: 550px;
}

.aaa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px;
}

.heading_post {
  width: 445px;
}

.heading_post .hed {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.4px;
  color: #1C1C1C;
  margin-bottom: 10px;
}

.heading_post .hed_text {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.2px;
  color: #585757;
}

.email {
  width: 393px;
  height: 48px;
  border-radius: 10px;
  border: solid 1px #dbdbdb;
  margin-right: 10px;
}

::-webkit-input-placeholder {
  padding: 10px 0 10px 15px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.3px;
  color: #585757;
}

:-ms-input-placeholder {
  padding: 10px 0 10px 15px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.3px;
  color: #585757;
}

::-ms-input-placeholder {
  padding: 10px 0 10px 15px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.3px;
  color: #585757;
}

::placeholder {
  padding: 10px 0 10px 15px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.3px;
  color: #585757;
}

.sub {
  background: #24AFB5;
  border-radius: 6px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  padding: 11px 16px;
  border: solid 1px #dbdbdb;
  border-radius: 12px;
}

.sub:hover {
  color: #24AFB5;
  background-color: #FFFFFF;
}

.heading_post2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
  margin-top: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head_logo {
  background-color: #dbdbdb;
  padding: 40px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.head {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -1.2px;
  color: #1C1C1C;
  margin-bottom: 20px;
}

.with {
  width: 445px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.3px;
  color: #585757;
  margin-bottom: 40px;
}

.heading_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.apple {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dbdbdb;
  padding: 10px 0px 10px 10px;
  border-radius: 10px;
  margin-right: 20px;
}

.apple .app_logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.apple .app_down {
  font-weight: 100;
  margin-bottom: 2px;
}

.apple .app_down2 {
  font-weight: 100;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.when {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.1px;
  color: #969696;
  width: 454px;
  margin-top: 20px;
}

.mobil_img {
  margin-top: -70px;
  margin-right: 80px;
}

.samsung {
  width: 300px;
  position: absolute;
  z-index: -1;
}

.iphone {
  width: 400px;
  position: relative;
  left: 60px;
  top: 40px;
}

.short_post {
  margin-top: 110px;
}

.short_post .short {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  color: #1C1C1C;
  margin-bottom: 15px;
}

.short_post .short_text {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #585757;
  margin: 0 auto;
}

.account_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px;
}

.user_post1 {
  padding: 40px;
  margin-top: 60px;
  border: solid 1px #dbdbdb;
  margin-right: 30px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user_post1:hover {
  border: solid 4px #24AFB5;
}

.user_post1 .user_img {
  margin-right: 20px;
  width: 80px;
  height: 80px;
}

.user_post1 .user_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.heading_contant3 {
  margin-top: 70px;
  padding-top: 74px;
  padding-bottom: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.heading_contant3 .description {
  width: 540px;
  font-weight: 700;
  font-size: 36px;
  color: #1C1C1C;
}

.sections {
  margin-right: 100px;
}

.footer_post1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 90px;
}

.footer_post1 .logo2 {
  margin-bottom: 30px;
}

.footer_post1 .sections_text1 {
  width: 350px;
  margin-bottom: 20px;
}

.catigorys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catigorys .catigory_list {
  margin-right: 40px;
}

.catigorys .catigory_list .catigory {
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.1px;
  color: #1C1C1C;
  margin-bottom: 10px;
}

.catigorys .catigory_list .first {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.2px;
  color: #585757;
}

footer {
  background-color: #f7f7f7;
}

.footer_post {
  margin-top: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.footer_post .footer_text {
  font-weight: 400;
  font-size: 13px;
  color: #969696;
}

.footer_post .navbar2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_post .navbar2 .navigatsiya1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_post .navbar2 .navigatsiya1 .nav_item2 {
  list-style: none;
}

.footer_post .navbar2 .navigatsiya1 .nav_item2 .nav_link2 {
  text-decoration: none;
  margin-right: 30px;
  color: #969696;
}

.footer_post .navbar2 .footer_icons {
  margin-left: 60px;
}

.footer_post .navbar2 .footer_icons .insta {
  margin-right: 10px;
}

hr {
  width: 100%;
  height: 1px;
  color: #969696;
}
/*# sourceMappingURL=style.css.map */